<div class="p-12 bg-zinc-900">
  <div class="w-full">
    <div class="p-2 rounded-lg flex items-center flex-wrap">
      <div class="flex items-center flex-wrap flex-grow">
        @for(term of searchTerms; track term; let i = $index) {
            <div class="bg-blue-100 text-blue-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded flex items-center mb-1">
                {{ term }}
            <button (click)="removeTerm(i)" class="ml-2 text-red-500">&times;</button>
            </div>
        }
            <input
            [(ngModel)]="searchTerm"
            (keydown.enter)="addTerm()"
            class="flex-grow p-2 focus:outline-none"
            />
            <button (click)="searchUsers()" class="p-2 bg-gray-200 hover:bg-gray-300 rounded">
                🔍
            </button>
        </div>
        <div class="flex items-center mx-2">
            <button (click)="toggleView('table')" class="p-2 bg-blue-500 text-white hover:bg-blue-600 rounded">
                <fa-icon [icon]="faTable"></fa-icon>
            </button>
            <button (click)="toggleView('grid')" class="p-2 bg-green-500 text-white hover:bg-green-600 rounded">
                <fa-icon [icon]="faGrid"></fa-icon>
            </button>
        </div>
    </div>
  </div>

  @if(isTableView) {
    <div class="h-full grid lg:grid-cols-6 md:grid-cols-3 sm:grid-cols-1">
    @for (user of users; track user) {
      <div class="rounded-md text-white hover:scale-110 w-32" >
        <div class="card-image">
            <img [src]="user.imageUrl">
        </div>
        <div class="bg-slate-600 overflow-hidden p-2">
            <div class="font-bold">{{user.firstName}} {{user.lastName}}</div>
            <div class="font-light italic">{{user.jobTitle}}</div>
            <div class="font-thin">{{user.email}}</div>
        </div>
      </div>
    }
    <div class="rounded-md text-white hover:scale-110 w-32" >
      <div class="bg-slate-600 h-full align-items-center justify-content-center" (click)="loadMore()">
          Load more
      </div>
    </div>
    </div>
  } @else {
    <table class="min-w-full bg-gray-900 text-gray-100 border border-gray-700">
      <thead>
        <tr class="bg-gray-800">
          <th class="py-2 px-4 border-b border-gray-700">Photo</th>
          <th class="py-2 px-4 border-b border-gray-700">Nom</th>
          <th class="py-2 px-4 border-b border-gray-700">Prénom</th>
          <th class="py-2 px-4 border-b border-gray-700">Job</th>
          <th class="py-2 px-4 border-b border-gray-700">Mail</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users; track user.id) {
          <tr class="even:bg-gray-800 odd:bg-gray-700 hover:scale-110">
            <td><img [src]="user.imageUrl"></td>
            <td class="py-2 px-4 border-b border-gray-700">{{user.lastName}}</td>
            <td class="py-2 px-4 border-b border-gray-700">{{user.firstName}}</td>
            <td class="py-2 px-4 border-b border-gray-700">{{user.jobTitle}}</td>
            <td class="py-2 px-4 border-b border-gray-700">{{user.email}}</td>
          </tr>
        }
        <tr>
          <td colspan="5" (click)="loadMore()">Load more</td>
        </tr>
      </tbody>
     </table> 
  }
  <div class="text-white">{{count}} / {{totalUsers}}</div>
  </div>